.bg .orange {
  background: #F8A861;
}
.bg .light-green {
  background: #C6C279;
}
.bg .green {
  background: #447469;
}
.bg .dark-green {
  background: #274F45;
}
.bg .blue {
  background: #02546D;
}