h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 5px;
    line-height: 1;
}
h1, h2, h3 {
    margin-bottom: 15px;
}
h4, h5, h6 {
    margin-bottom: 10px;
}

h1 {
    font-size: 3.313rem;
    font-family: $headingFont;
    @media(max-width: 992px){
        font-size: 2.5rem;
    }
}
h2 {
    font-size: 2.063rem;
    font-family: $headingFont;
    color: $green;
    @media(max-width: 992px){
        font-size: 1.8rem;
    }
}