.events-listing-page {
    margin: 5rem 0rem;
}
.no-events {
    text-align: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #e0e0e0;
}
