.standard-page {
    .page-intro {
        max-width: 832px;
        margin: 0 auto;
    }
}

.intro-header {
    text-align: center;
    max-width: 836px;
    margin: 4rem auto;
    padding: 0 5%;
}

.venues-listing-page {
    margin-top: 4rem;
}