//Colors
$orange: #F8A861;
$light-green: #C6C279;
$green: #54B98D; 
$dark-green: #274F45;
$blue: #00A5E3;
$default-color: #4A4A4A;
$pink: #C6006F;
$purple: #6E2A8D;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $blue;
$color__link-visited: $pink;
$color__link-hover: $pink;
$color__text-main: $default-color;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #4d1a1a #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
