.job-row {
    margin: 5rem 0rem;

    h2 {
        text-align: center;
    }

    .job-content {
        p {
            margin: 0px;
        }
        padding-bottom: 3rem;
        margin: 3rem 0;
        border-bottom: 1px solid black;
    }
}

