.content-column {
  margin: 5rem 0rem;
}
.content-column .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-column .single-column {
  max-width: 835px;
  margin: 0 auto;
}
.content-column.add_bg {
  background: #f5f5f5;
}
.content-column .content-side.two {
  margin-top: 32px;
}